/* Los estilos de tu proyecto */
/*modifiqué row para que no se desborde*/

.row  {
  margin-left: 0;
  margin-right: 0;
}

/*cabezera*/
.menu nav{
	padding-top: 2em;
}
.navbar-default{
	border: none;
	background-color: #FFF;
	height: 7em;
}


.navbar-toggle{
	float:left;
}
/*fin cabezera*/
/*seccion2*/
/*imagen*/
.image-taxi{
	background-image: url(../assets/images/taxi.jpg);
	height: 100vh;
	width: 100%;
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;

}
/*fin seccion 1*/
/*seccion 2*/
/*jumbotron*/
.seccion-2{
	background-color: #F7B617;
	color: #FFF;
	margin-top: 13em;
	padding-right:5em;
	padding-left: 5em;
	margin-right: -1.1em;

}
.seccion-2 h3{
	font-size: 2em;
	font-weight: bold;

}
.seccion-2 img{
	width: 4em;
	height: auto;
}
.image-taxi .btn-primary{
	color: #000;
	background-color: #fff;
	border: none;

} 
.center{
	text-align: center;
}

/*fin seccion 2*/
/*sección 3 */
.background-orange{
	background-color: #F7B617; 
	width: 100%;
	height: auto;

}

.seccion-3{
	background-color: transparent; 
	border: 1px solid #fff;
	border-left: none;
	margin-top: 6em;
	

}

.background-orange .column-2{
	color: #fff;
	padding-right: 6em;
}
/*imágen celular*/
.cell-phone{
	padding-left: 6em;
}
/*fin seccion 3*/
/*inicio seccion 4*/
.image-background{
	background-image: url(../assets/images/conduce.jpg);
	height: 30em;
	width: 100%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	object-fit: cover;
	overflow-y: hidden;

}
.background-black{
	background-color: rgba(0,0,0,0.7);
	height: 30em;
	margin-right: -1.1em;

}
.background-black h3, .background-black p, .background-black a{
	color: #fff;
	padding-right: 1em;
	padding-left: 1em;
	margin-top: 1em;
}
.background-black h3{
	margin-top: 3em;
}
.background-black .btn-primary{
	background-color: #F7B617; 
	border: none;
}
/*fin sección4*/
/*inicio sección 5*/
.background-orange-2{
	background-color: #F7B617; 
	width: 100%;
	height: auto;
}

.formulary{
	color: #fff;
	padding-right: 19em;
	margin-top: 3em;
	padding-bottom: 10em;
}
.formulary h1{
	overflow-y: hidden;
}
/*mapa*/
.map iframe {
  width: 35em;
  height: 35em;
	margin-top: 1em;

}
.border-map{
	border: 1px solid #fff;
	height: 35em;
	width: 35em;
	padding-left: 0.5em;
}
/*input formulario*/
.form-group input {
	background-color: transparent;
	border: 1px solid #fff;
}
/*fin seccion 5*/
/*inicio footer*/
.background-gray{
	background-color: #2B2B2B;
	width: 100%;
	height: auto;
}
.foot img{
	width: 7em;
	height: auto;
	padding-bottom: 1em;

	
}
/*iconos*/
.icon i {
	color: #fff;
}
.iconos{
	margin-top: 13em;
}
.column-1 li, .column-2 li{
	color: #fff;
	list-style: none;
	padding-bottom: 1.3em;
}
.column-img{
	width: 1em;
}
.images{
	margin-top: 9em;
}
.copyright h6{
	color: #fff;
}
