@media (max-width: 992px) {
  [class*="col-"] {
    max-width:100%;
    flex: none;
  }
  /*responsive modificación estilos seccion-3*/
	.columnas{
		margin-left: 2em;

	}
	.columnas h2, .columnas p{
		color: #fff;
	}
	.columnas h2{
		text-align: center;
		font-weight: bold;
	}
	.columnas p{
		font-size: 1.5em;
	}

	.images{
		margin-left
		
	}
}